<template>
    <div class="container-fluid survey-data">
        <div class="survey-header">
            <div class="admin container">

                <div class="container">
                    <div class="row reports-panel">
                        <div class="col-md-12">
                            <h4>Survey Reports</h4>
                        </div>
                        <SingleSurvey :question="survey.question1" :total="survey.total_count" :title="'# Stay at home'" />
                        <SingleSurvey :question="survey.question2" :total="survey.total_count" :title="'Use of medicines'" />
                        <SingleSurvey :question="survey.question3" :total="survey.total_count" :title="'Continue work taking necessary protections'" />
                        <SingleSurvey :question="survey.question4" :total="survey.total_count" :title="'Making awareness among the people'" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const STORAGE_KEY = "todo-storage";
    import SingleSurvey from "./SingleSurvey.vue"
    export default {
        name: "admin",
        components : {
            SingleSurvey
        },
        data() {
            return {
                survey : {}
            };
        },
        methods: {},
        created() {
            this.survey = JSON.parse(localStorage.getItem(STORAGE_KEY)) || {};
        }
    };
</script>

<style scoped>
    .survey-data {
        padding: 0;
        margin: 0;
    }
    .survey-data .survey-header{
        background-image: url("../../src/assets/images/corona.png");
        background-size: cover;
        display: block;
        /*background: rgba(65, 144, 243, 0.9);*/
        margin: 0 auto;
        padding: 2rem 10%;
        overflow: hidden;
    }
    .survey-data .survey-header .reports-panel{
        background: #ddd;
        padding: 15px 30px 30px;
    }
    .survey-data .survey-header .reports-panel h4{
        padding: 0 0 15px;
        margin: 0;
    }
</style>