<template>
    <div class="col-md-3">
        <div class="reports-block">
            <span>{{count}}% says</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" :style="{width: count+'%'}" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">{{count}}%</div>
            </div>
            <h6>{{title}}</h6>
        </div>
    </div>
</template>
<script>
    const STORAGE_KEY = "todo-storage";
    export default {
        name: "singleSurvey",
        props : {
            total : {default:1},
            question : {default:0},
            title: {required:true}
        },

        methods: {},
        computed:{
            count: function () {
                return (this.question*100/this.total).toFixed(0)
            }
        }
    };
</script>

<style scoped>
    .reports-block{
        display: block;
        width: 100%;
        background: #fff;
        min-height: 150px;
        padding: 15px;
    }
</style>