<template>
    <div class="container success">
        <div class="alert alert-success" role="alert">
            Thank you for your opinion !
        </div>
    </div>
</template>

<style scoped>
    .success{
        padding: 10% 0;
    }
    .success .alert{
        text-align: center;
    }
</style>