<template>
    <div class="container-fluid survey-data">
        <div class="survey-header">
            <div class="row">
                <div class="col-md-12 custom-pane">
                    <h1 class="page-header">Welcome to NPS Survey</h1>
                    <p>
                        Hello guys, You are all passing on global <strong>Corona Virus</strong> cirisis ! So, we want to
                        know that how you are passing your day within such tough situation and how we could be overcome
                        it !
                    </p>
                    <span>Sypmply participate the below survey to give your opinions</span>
                    <div class="step-btn">
                        <a class="nav-link" data-toggle="tab" href="#step2" role="tab"><i
                                class="fas fa-chevron-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 custom-pane">
                    <h3>How could you prevent from global <strong>corona</strong> crisis ?</h3>
                    <form v-on:submit.prevent="addSurvey">
                        <div class="form-group">
                            <input type="checkbox" id="cbx" style="display: none;" v-model="newSurvey.question1">
                            <label for="cbx" class="check">
                                <svg width="18px" height="18px" viewBox="0 0 18 18">
                                    <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                    <polyline points="1 9 7 14 15 4"></polyline>
                                </svg>
                            </label> <span># Stay at home</span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="cbx2" style="display: none;" v-model="newSurvey.question2">
                            <label for="cbx2" class="check">
                                <svg width="18px" height="18px" viewBox="0 0 18 18">
                                    <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                    <polyline points="1 9 7 14 15 4"></polyline>
                                </svg>
                            </label> <span>Use of medicines</span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="cbx3" style="display: none;" v-model="newSurvey.question3">
                            <label for="cbx3" class="check">
                                <svg width="18px" height="18px" viewBox="0 0 18 18">
                                    <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                    <polyline points="1 9 7 14 15 4"></polyline>
                                </svg>
                            </label> <span>Continue work taking necessary protections</span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="cbx4" style="display: none;" v-model="newSurvey.question4">
                            <label for="cbx4" class="check">
                                <svg width="18px" height="18px" viewBox="0 0 18 18">
                                    <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                    <polyline points="1 9 7 14 15 4"></polyline>
                                </svg>
                            </label> <span>Making awareness among the people</span>
                        </div>
                        <div class="submit-btn">
                            <button type="submit">Send Opinion</button>
                        </div>
                    </form>
                    <div>{{error}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const STORAGE_KEY = "todo-storage";
    export default {
        name: "surveys",
        data() {
            return {
                newSurvey: {},
                surveys: {},
                error: ""
            };
        },
        methods: {
            addSurvey() {
                if (this.newSurvey.question1 || this.newSurvey.question2 || this.newSurvey.question3 || this.newSurvey.question4) {
                    if (this.newSurvey.question1) this.surveys.question1++;
                    if (this.newSurvey.question2) this.surveys.question2++;
                    if (this.newSurvey.question3) this.surveys.question3++;
                    if (this.newSurvey.question4) this.surveys.question4++;
                    this.surveys.total_count++;

                    localStorage.setItem(STORAGE_KEY, JSON.stringify(this.surveys));
                    this.newSurvey = {};
                    this.error = "";
                    this.$router.push('/success');
                } else {
                    this.error = "Please check at least one option"
                }
            }
        },
        created() {
            this.surveys = JSON.parse(localStorage.getItem(STORAGE_KEY)) || {
                    question1:0,
                    question2: 0,
                    question3:0,
                    question4: 0,
                    total_count: 0
                };
            console.log(this.surveys);
        }

    };
</script>

<style scoped>
    .survey-data {
        padding: 0;
        margin: 0;
    }

    .survey-data .survey-header {
        background-image: url("../../src/assets/images/corona.png");
        background-size: cover;
        display: block;
        /*background: rgba(65, 144, 243, 0.9);*/
        margin: 0 auto;
        padding: 2rem 10%;
        overflow: hidden;
    }

    .survey-data .custom-pane {
        padding: 3rem;
    }

    .custom-pane .form-group span{
        
    }

    .survey-data .custom-pane .submit-btn {
        display: block;
        padding: 30px 0;
        cursor: pointer;
    }

    .survey-data .custom-pane .submit-btn button {
        background: #007bff;
        color: #fff;
        padding: 15px 20px;
        border-radius: 30px;
        text-decoration: none;
        border: none;
    }

    .survey-data .custom-pane .submit-btn button:focus {
        outline: none;
    }

    .survey-data .custom-pane .submit-btn button:hover {
        transition: 0.5s ease;
        background: #0c64c1;
    }

    .survey-data .custom-pane ul {
        margin: 0;
        padding: 0;
    }

    .survey-data .custom-pane ul li {
        list-style: none;
        padding: 8px 0;
    }

    .survey-data .survey-header .custom-pane h1 {
        color: #fff;
    }

    .survey-data .survey-header .custom-pane p {
        color: #f5f5f5;
        padding: 15px 0;
    }

    .survey-data .survey-header .custom-pane span {
        color: #f7f70a;
        display: block;
        border: 1px solid #f7f70a;
        padding: 15px;
        width: fit-content;
        background: rgba(20, 70, 132, 0.3);
        font-weight: 600;
        font-size: 14px;
        border-radius: 20px;
        box-shadow: 0 2px 10px -3px #042a58;
    }

    .custom-pane .step-btn {
        display: block;
        padding: 2rem 0 0;
    }

    .custom-pane .step-btn a i {
        color: #0c64c1;
        font-size: 48px;
    }

    /*Check Boxes*/
    .check {
        cursor: pointer;
        position: relative;
        margin: auto;
        -webkit-tap-highlight-color: transparent;
        transform: translate3d(0, 0, 0);
    }
    .check:before {
        content: "";
        position: absolute;
        top: -15px;
        left: -15px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: rgba(34,50,84,0.03);
        opacity: 0;
        transition: opacity 0.2s ease;
    }
    .check svg {
        position: relative;
        z-index: 1;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #c8ccd4;
        stroke-width: 1.5;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease;
    }
    #cbx:checked + .check svg {
        stroke: #4285f4;
    }
    #cbx:checked + .check svg path {
        stroke-dashoffset: 60;
        transition: all 0.3s linear;
    }
    #cbx2:checked + .check svg {
        stroke: #4285f4;
    }
    #cbx2:checked + .check svg path {
        stroke-dashoffset: 60;
        transition: all 0.3s linear;
    }
    #cbx3:checked + .check svg {
        stroke: #4285f4;
    }
    #cbx3:checked + .check svg path {
        stroke-dashoffset: 60;
        transition: all 0.3s linear;
    }
    #cbx4:checked + .check svg {
        stroke: #4285f4;
    }
    #cbx4:checked + .check svg path {
        stroke-dashoffset: 60;
        transition: all 0.3s linear;
    }
    .check svg path {
        stroke-dasharray: 60;
        stroke-dashoffset: 0;
    }
    .check svg polyline {
        stroke-dasharray: 22;
        stroke-dashoffset: 66;
    }
    #cbx:checked + .check svg polyline {
        stroke-dashoffset: 42;
        transition: all 0.2s linear;
        transition-delay: 0.15s;
    }
    #cbx2:checked + .check svg polyline {
        stroke-dashoffset: 42;
        transition: all 0.2s linear;
        transition-delay: 0.15s;
    }
    #cbx3:checked + .check svg polyline {
        stroke-dashoffset: 42;
        transition: all 0.2s linear;
        transition-delay: 0.15s;
    }
    #cbx4:checked + .check svg polyline {
        stroke-dashoffset: 42;
        transition: all 0.2s linear;
        transition-delay: 0.15s;
    }
</style>